* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

/*HEADER*/

header {
	height: 92vh;
	background: url(../Imagenes/header.jpg);
	background-size: cover;
	background-position: center;
	filter: grayscale(1);
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1,
header h1 span {
	font-size: 15rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 900;
	-webkit-text-stroke: 5px #fff;
	color:transparent;
	display: block;
	text-align: center;
	line-height: 100%;
}

/* NAV */

nav {
	background:black;
	padding: 20px 0;
	position: sticky;
	top: 0;
	z-index: 2;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Permanent Marker', cursive;
}

nav ul li a:hover {
	color: plum;
}

/* INTEGRANTES */

#integrantes {
	padding: 50px 0;
	height: 100vh;
	align-items: center;
	align-content: center;
}

#integrantes h2 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #333;
	text-transform: uppercase;
	font-family: 'Permanent Marker', cursive;
}

#integrantes p {
	width: 50%;
	margin: auto;
	font-size: 18px;
	color: #333;
	line-height: 150%;
    margin-bottom: 20px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}

#integrantes span{
color: plum;
font-family: 'Righteous', cursive;	
}


.fotos {
    position: relative;
    filter: grayscale(0.75);
    display: block;
}

.fotos li {
	position: absolute;
	top: 0;
    left: 50vh;
	display: block;
	border-color: #333;
	border-style: solid;
	border-width: 5px;
	padding: 5px;
}

.fotos .primera {
	z-index: 1;
    transition: opacity 2s;
    display: block;
}

.fotos .primera:hover {
	opacity: 0;
}

/*DISCOGRAFIA*/

#discografia{
	padding: 50px 0;
	background: #333;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#discografia h2 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Permanent Marker', cursive;
}

#discografia ul {
	margin: auto;
	overflow: auto;
	display: flex;
	justify-content: space-between;
}

#discografia ul li {
	width: 30%;
	padding: 10px;

}

#discografia ul li iframe{
	border-color: plum;
	border-style: solid;
	border-width: 5px;
}

/*CONTACTO*/


#contacto {
	background: rgb(27, 27, 27);
	height: 80vh;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}

#contacto h2 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Permanent Marker', cursive;
}

#contacto form {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#contacto form input,
#contacto form textarea {
	border: none;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	color: plum;
	outline: none;
	resize: none;
}
#contacto form #newsletter label {
	color: #fff;
}
#contacto form input.enviar {
	background: plum;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
}

/*footer*/

footer{
	background: black;
	padding: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

footer ul li{
	display: inline-block;

}

footer ul li a{
	color: plum;
	padding: 10px;
}



